# Ignore PyTorch checkpoints
*.pt
notebooks/evaluation/*.pt

# Ignore generated data
*.h5ad
notebooks/evaluation/*.h5ad

# Ignore notebook checkpoints
.ipynb_checkpoints/
notebooks/evaluation/.ipynb_checkpoints/
notebooks/training/.ipynb_checkpoints/

# Ignore figures folder
figures/
notebooks/evaluation/figures

# Ignore Python cache
__pycache__/
utils/__pycache__/
